<template>
  <div class="card">
    <div class="card-content">
      <p class="title">
        Log In
      </p>
      <ValidationObserver ref="observer" v-slot="{ passes }">
        <section class="has-text-left">
          <BInputWithValidation
            rules="required|email"
            type="email"
            icon="email"
            label="Email"
            v-model="email"
          />

          <BInputWithValidation
            rules="required"
            type="password"
            icon="lock"
            label="Password"
            vid="password"
            v-model="password"
          />

          <div class="buttons card-buttons">
            <b-button
              type="is-success"
              icon-left="check"
              @click="passes(submit)"
            >
              Log in
            </b-button>
            <b-button @click="resetForm" type="is-danger" icon-left="cancel">
              Clear
            </b-button>
          </div>
        </section>
      </ValidationObserver>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { ValidationObserver } from "vee-validate";
import BInputWithValidation from "../components/BInputWithValidation";
export default {
  name: "LogIn",
  components: {
    ValidationObserver,
    BInputWithValidation
  },
  data: () => ({
    email: "",
    password: ""
  }),
  computed: {
    ...mapGetters(["user"])
  },
  methods: {
    async submit() {
      const formData = {
        login: this.email,
        password: this.password
      };
      await this.$store.dispatch("logIn", formData);
      if (this.user) {
        this.$router.push("posts");
      }
    },
    resetForm() {
      this.email = "";
      this.password = "";
      this.$refs.observer.reset();
    }
  },
  mounted() {
    if (this.$route.query["loginError"]) {
      this.$swal("You should log in to access this page", "", "error");
    }
  }
};
</script>

<style>
.buttons.card-buttons {
  margin-top: 25px;
}
</style>
