<template>
  <PostEditor :id="id" @addPost="addPost" @editPost="editPost" />
</template>

<script>
import { mapGetters } from "vuex";
import PostEditor from "../components/PostEditor";
export default {
  name: "NewPost",
  props: ["id"],
  components: {
    PostEditor
  },
  computed: {
    ...mapGetters(["user"])
  },
  methods: {
    async addPost(formData) {
      await this.$store.dispatch("addPost", formData);
      this.$router.replace("/posts");
    },
    async editPost(formData) {
      await this.$store.dispatch("editPost", formData);
      this.$router.replace("/posts");
    }
  }
};
</script>

<style scoped></style>
