<template>
  <div>
    <h1 class="title">Posts</h1>
    <div class="add-post">
      <b-field label="Show" class="show-per-page">
        <b-select @input="showResutsPerPage" v-model="perPage">
          <option v-for="option in showPerPage" :value="option" :key="option">
            {{ option }}
          </option>
        </b-select>
      </b-field>
      <b-button
        v-if="user && user.role === 'writer'"
        @click="addPost"
        type="is-info"
        icon-left="plus"
      >
        Add post
      </b-button>
    </div>
    <transition-group name="fade" tag="div">
      <PostCard v-for="post of postsPage" :key="post.id" :post="post" />
    </transition-group>
    <hr />
    <b-pagination
      :total="total"
      :current.sync="current"
      :per-page="perPage"
      icon-prev="chevron-left"
      icon-next="chevron-right"
      @change="changePage"
      aria-next-label="Next page"
      aria-previous-label="Previous page"
      aria-page-label="Page"
      aria-current-label="Current page"
    >
    </b-pagination>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import PostCard from "../components/PostCard.vue";
export default {
  name: "Posts",
  components: {
    PostCard
  },
  data: () => ({
    showPerPage: [5, 10],
    total: 0,
    current: 1,
    perPage: 10,
    order: "",
    size: "",
    postsArray: []
  }),
  computed: {
    ...mapGetters(["posts", "user"]),
    postsPage: {
      set: function(value) {
        this.postsArray = value;
      },
      get: function() {
        return this.postsArray;
      }
    }
  },
  watch: {
    posts: function() {
      this.setPosts();
    }
  },
  methods: {
    addPost() {
      this.$router.push("posts/new");
    },
    changePage(pageNumber) {
      this.postsPage = this.posts.slice(
        this.perPage * pageNumber - this.perPage,
        this.perPage * pageNumber
      );
    },
    setPosts() {
      this.total = this.posts.length;
      this.postsPage = this.posts.slice(0, this.perPage);
    },
    showResutsPerPage(value) {
      this.perPage = value;
      this.current = 1;
      this.setPosts();
    }
  },
  mounted() {
    this.setPosts();
  }
};
</script>

<style scoped>
.add-post {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
</style>
<style>
.field.show-per-page {
  display: flex;
  align-items: center;
}
.show-per-page .label {
  margin-right: 10px !important;
  margin-bottom: 0;
}
</style>
