<template>
  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <router-link to="/posts" tag="a" class="navbar-item"
        ><h1>Posts</h1></router-link
      >
      <!-- <a @click="showMenu" role="button" :class="{'is-active': menu}" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="postsNavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>-->
      <div class="buttons">
        <router-link v-if="!user" to="/login" tag="a" class="button is-primary"
          ><strong>Log In</strong></router-link
        >
        <button v-else @click="logOut" class="button is-primary">
          Log Out
        </button>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "Navbar",
  computed: {
    ...mapGetters(["user"])
  },
  methods: {
    logOut() {
      this.$store.dispatch("logOut");
    }
  }
};
</script>

<style scoped>
.navbar-brand {
  width: 100%;
  justify-content: space-between;
}
</style>
