<template>
  <div class="card">
    <div class="card-content">
      <p v-if="id" class="title">
        Edit Post
      </p>
      <p v-else class="title">
        New Post
      </p>
      <ValidationObserver ref="observer" v-slot="{ passes }">
        <section class="has-text-left">
          <BInputWithValidation
            rules="required|maxTitle:30"
            type="text"
            label="Title"
            v-model="title"
          />

          <BInputWithValidation
            rules="required|maxDesc:250"
            type="textarea"
            label="Description"
            v-model="description"
          />

          <div class="buttons card-buttons">
            <b-button
              type="is-success"
              icon-left="check"
              @click="passes(submit)"
            >
              <span v-if="id">Edit Post</span>
              <span v-else>Add Post</span>
            </b-button>
            <b-button @click="cancel" type="is-danger" icon-left="cancel">
              <span v-if="id">Cancel</span>
              <span v-else>Clear</span>
            </b-button>
          </div>
        </section>
      </ValidationObserver>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { ValidationObserver } from "vee-validate";
import BInputWithValidation from "../components/BInputWithValidation";
export default {
  name: "PostEditor",
  props: {
    id: {
      type: String || Number,
      default: null
    }
  },
  components: {
    ValidationObserver,
    BInputWithValidation
  },
  data: () => ({
    title: "",
    description: ""
  }),
  computed: {
    ...mapGetters(["user", "postById"])
  },
  methods: {
    submit() {
      if (this.id) {
        const formData = {
          id: this.id,
          title: this.title,
          description: this.description,
          userId: this.user.id
        };
        this.$emit("editPost", formData);
      } else {
        const formData = {
          id: null,
          title: this.title,
          description: this.description,
          claps: 0,
          createdAt: null,
          updateAt: null,
          userId: this.user.id
        };
        this.$emit("addPost", formData);
      }
    },
    cancel() {
      if (this.id) {
        this.$router.replace("/posts");
      } else {
        this.resetForm();
      }
    },
    resetForm() {
      this.title = "";
      this.description = "";
      this.$refs.observer.reset();
    }
  },
  mounted() {
    if (this.id) {
      this.title = this.postById(this.id).title;
      this.description = this.postById(this.id).description;
    }
  }
};
</script>

<style scoped></style>
