<template>
  <div class="card">
    <div class="card-content">
      <p class="title">
        {{ post.title }}
      </p>
      <div class="content">
        {{ post.description }}
      </div>
      <div class="time-wrapper">
        <time>{{ new Date(post.createdAt).toLocaleDateString() }}</time>
      </div>
    </div>
    <footer v-if="user && user.role === 'writer'" class="card-footer">
      <b-button @click="editPost(post.id)" type="is-info" icon-left="pencil">
        Edit
      </b-button>
      <b-button
        @click="deletePost(post.id)"
        type="is-danger"
        icon-left="delete"
      >
        Delete
      </b-button>
    </footer>
    <footer v-else-if="user && user.role === 'reader'" class="card-footer">
      <b-button
        @click="addClap"
        @mousedown="startClapping"
        @mouseup="stopClapping"
        type="is-info"
        icon-pack="fas"
        icon-left="sign-language"
      >
        {{ post.claps }}
      </b-button>
    </footer>
  </div>
</template>

<script>
import _ from "lodash";
import { mapGetters } from "vuex";
export default {
  name: "PostCard",
  data: () => ({
    clap: null
  }),
  props: {
    post: {
      type: Object,
      default: null
    }
  },
  computed: {
    ...mapGetters(["user"])
  },
  watch: {
    "post.claps": function() {
      this.debouncedSetClaps();
    }
  },
  methods: {
    editPost(id) {
      this.$router.push(`posts/edit/${id}`);
    },
    deletePost(id) {
      this.$swal
        .fire({
          title: "Are you sure?",
          text: "You will not be able to recover this post!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes, delete it!",
          cancelButtonText: "No, keep it"
        })
        .then(result => {
          if (result.value) {
            this.$store.dispatch("deletePost", id);
          } else if (result.dismiss) {
            this.$swal.fire("Cancelled", "Your post is safe :)", "error");
          }
        });
    },
    addClap() {
      this.post.claps++;
    },
    startClapping() {
      this.clap = setInterval(this.setClaps, 250);
    },
    setClaps() {
      this.post.claps++;
    },
    stopClapping() {
      clearInterval(this.clap);
    },
    setNewClaps() {
      const data = {
        id: this.post.id,
        claps: this.post.claps
      };
      this.$store.dispatch("addClaps", data);
    }
  },
  mounted() {
    this.debouncedSetClaps = _.debounce(this.setNewClaps, 500);
  }
};
</script>

<style>
.card {
  margin-bottom: 30px;
}
.content, .time-wrapper {
  text-align: left;
}
.card-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.card-footer .is-danger {
  margin-left: 10px;
}
</style>
