<template>
  <div id="app">
    <Navbar />
    <section class="section">
      <div class="container">
        <div class="columns is-mobile">
          <div
            class="column is-three-fifths-desktop is-offset-one-fifth-desktop"
          >
            <transition name="slide-fade" mode="out-in">
              <router-view></router-view>
            </transition>
          </div>
        </div>
      </div>
    </section>
    <b-loading
      is-full-page
      :active.sync="loading"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Navbar from "./components/Navbar.vue";

export default {
  name: "App",
  components: {
    Navbar
  },
  computed: {
    ...mapGetters(["loading"])
  }
};
</script>

<style>
@import "assets/animation.css";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
